/* GLOBAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans, 'Arial' sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* CONTAINER */

.container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* Open sans 400 600 700 */
/* Open Sans codensed */

/* HEADER */

.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}


.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.site-logo:hover {
    color: #de2e54;
}

.site-logo:active {
    opacity: 0.6;
}

.site-footer-text:active {
    color: #fff;
    opacity: 0.6;
}

.site-logo-img {
    border-radius:50% ;
    margin-right: 16px;
}

.site-logo-text {
    font-weight: 600;
    font-size: 24px;
    color: #222;
}

/* NAVBAR */

.sitenav-list {
    display: flex;
    list-style: none;
    align-items: center;
}


.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

.sitenav-link:hover{
    color: #de2e54;
}

.sitenav-link:active {
    opacity: 0.6;
}

.sitenav-list-footer , .sitenav-link:hover {
    color: #de2e54;
}

.sitenav-list-footer , .sitenav-link:active {
    color: #fff;
    opacity: 0.6;
}

/* MAIN LINK */

.main-link {
    background-color: #de2e54;
    padding: 12px 24px;
    font-family: 'Open Sans Condenced';
    font-weight: 700;
    letter-spacing: 2;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #de2e54;
    border-radius: 8px;
}

.main-link:hover {
    background-color: #fff;
    color: #de2e54;
}

.main-link:active {
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}

/* SITE FOOTER */

.site-footer {
    background-color: #222;
}

.site-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer-text {
    font-weight: 600;
    font-size: 24px;
    color: #fff;

}

.sitenav-link2 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

/* MAIN LINK */
.main-link{
    background: #DE2E54;
    padding: 12px 24px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #DE2E54;
}

.main-link:hover{
    background: #fff;
    color: #DE2E54;
}

.main-link:active{
    opacity: 0.6;
    color: #fff;
    background-color: #DE2E54;
}


/* ADVERTISEMENT */
.hero{
    background: #0eb4c1;
    color: #fff;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.hero-img{
    justify-self: flex-end;
}

.hero-content{
    height: 293px;
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: -70px;
}

.hero-title{
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 16px;
}

.hero-text{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 440px;
    line-height: 1.5;
    margin-bottom: 36px;
}

.hero-link:hover{
    opacity: 0.8;
    color: #fff;
    background: #DE2E54;
}

.hero-link:active{
    opacity: 0.6;
    color: #fff;
    background: #DE2E54;
}

